<div class="row">
<h1>FizzBuzz Example</h1>
<table class="table">
<% @fizzbuzz.each do |original,fizzbuzz| %>
	<% @favorites[original.to_i] ? active="active" : active=false %>
		<tr class="<%=active%>">
		 	<td>
				<%= fizzbuzz %> 
			</td>
			<td>
			<!-- <%=@favorites.inspect %> -->
				<% if !active %>
					<%= link_to 'Favorite', favorites_path(favorite_id: original.to_i), method: :post %>
				<%else %>
					<%= link_to 'Un-favorite', favorite_path(id:original.to_i, favorite_id: original.to_i), :method => :delete %>
		 		<%end%>
		 	</td>			
		</tr>
<% end %>
</table>
<div class="center">
	<%= will_paginate @fizzbuzz %>
</div>
</div>
